.home
  height 100%
  width 100%
  .header
    background url('../../assets/img/404.png') no-repeat top center
    background-size 100% 100%
    height 20%
    width 100%
  .article
    width 100%
    height 80%